.footer {
  background-color: #0f0f0f;
  color: #e7e7e7;
  padding: 45px 0 25px;
  font-family: "Poppins", sans-serif;
}

.footer-wrapper {
  width: 90%;
  max-width: 1150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  width: 230px;
}

.footer-brand {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 700;
  color: white;
}

.footer-text {
  font-size: 14px;
  opacity: 0.75;
  line-height: 1.4;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 12px;
  color: white;
  font-weight: 600;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list li {
  margin: 6px 0;
}

.footer-link {
  font-size: 15px;
  text-decoration: none;
  color: #cfcfcf;
  transition: 0.25s;
}

.footer-link:hover {
  color: #00d9ff;
}

.footer-bottom {
  text-align: center;
  padding-top: 22px;
  margin-top: 35px;
  border-top: 1px solid #2b2b2b;
  font-size: 14px;
  opacity: 0.75;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}


.navbar {
  background: linear-gradient(90deg, #8BE3F2, #46C7DF);
}